{% extends 'layout.html.twig' %}

{% block content %}
    <section class="profile_page">
        <h3>Dossiers</h3>
        <ul>
            {% for folder in folders %}
                <li>{{ folder.foldername }}</li>
            {% endfor %}
        </ul>
        <hr>
        <h3>Fichiers</h3>
        <ul>
            {% for file in files %}
                <li>{{ file.filename }}</li>
            {% endfor %}
        </ul>
    </section>
{% endblock %}
