<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Filer 3</title>
        <meta name="viewport" content="width=device-width, user-scalable=no">
        <link rel="stylesheet" href="assets/css/style.css">
    </head>
    <body>
        <header>
            {% if user is defined and not empty %}
                <a href="?action=profile">{{ user.username }}</a>
            {% else %}
                <a href="?action=login">Connexion</a>
            {% endif %}
            <a href="action=home">
                <h3>Filer 3</h3>
            </a>
            {% if user is defined and not empty %}
                <a href="?action=logout">Déconnexion</a>
            {% else %}
                <a href="?action=register">Inscription</a>
            {% endif %}
        </header>

        <main>
            <aside>
                <div>
                    <h3>Ajouter un fichier</h3>
                    <form method="POST" action="?action=uploadFile" enctype="multipart/form-data">
                        <input type="hidden" name="MAX_FILE_SIZE" value="100000000"> <!-- 100Mo here, 100M in file php.ini -->
                        <input type="file" name="userfile">
                        <input type="text" name="newname" placeholder="Renommer">
                        <input type="submit" value="Ajouter">
                    </form>
                </div>
                <div>
                    <h3>Créer un dossier</h3>
                    <form action="?action=createFolder" method="POST">
                        <input type="text" name="folder-name" placeholder="Nommer le dossier">
                        <input type="submit" value="Créer">
                    </form>	
                </div>
            </aside>
            {% block content %}
            {% endblock %}
        </main>

        <footer>
            <div class="copy">&copy;Filer V3 - 2017</div>
        </footer>
    </body>
</html>
