<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Filer 3</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=yes">
        <link rel="stylesheet" href="assets/css/style.css">
        <!-- <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script> -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script src="assets/js/script.js"></script>
    </head>
    <body>
        <header>
            {% if user is defined and not empty %}
                <span class="user-connect">{{ user.username }}</span>
            {% else %}
                <a href="?action=login" class="user-connect">Connexion</a>
            {% endif %}
            <a href="?action=home">
                <h3>Filer 3</h3>
            </a>
            {% if user is defined and not empty %}
                <a href="?action=logout"><img src="assets/img/logout.png" alt="icon-logout"></a>
            {% else %}
                <a href="?action=register" class="register">Inscription</a>
            {% endif %}
        </header>

        <main>
            <aside>
                <div>
                    <h3>Ajouter un fichier</h3>
                    <label for="file" class="label-file">Choisir un fichier&nbsp;<img src="assets/img/upload_file.png" alt="icon-upload-file"></label>
                    <form method="POST" action="?action=uploadFile" enctype="multipart/form-data">
                        <input type="hidden" name="MAX_FILE_SIZE" value="100000000"> <!-- 100Mo here, 100M in file php.ini -->
                        <input type="file" id="file" class="input-file" name="userfile">
                        <input type="submit" id="input-upload-file" value="Ajouter">
                    </form>
                </div>
                <div>
                    <h3>Créer un dossier</h3>
                    <form action="?action=createFolder" method="POST">
                        <input type="text" name="foldername" placeholder="Nommer le dossier">
                        <input type="submit" value="Créer">
                    </form>	
                </div>
            </aside>
            {% block content %}
            {% endblock %}
        </main>

        <footer>
            <div class="copy">&copy;Filer V3 - 2017</div>
        </footer>
    </body>
</html>
