{% extends 'layout.html.twig' %}

{% block content %}
    <header>

    </header>

    {% if errors is defined %}
        {{ errors }} <br>
    {% endif %}
    <main class="allForm">
        <form method="POST" action="?action=login">
            <input id="username" type="text" name="username" placeholder="Pseudo*">
            <input id="password" type="password" name="password" placeholder="Mot de Passe*">
            <button type="submit" name="submitLogin" id="button">Se connecter</button>
        </form>
    </main>
{% endblock %}
