{% extends 'layout.html.twig' %}

{% block content %}
    {% if errors is defined %}
        {{ errors }}
    {% endif %}
    <section>
        <form method="POST" action="?action=login">
            <input id="username" type="text" name="username" placeholder="Pseudo*">
            <input id="password" type="password" name="password" placeholder="Mot de Passe*">
            <button type="submit" name="submitLogin" id="button">Se connecter</button>
        </form>
    </section>
{% endblock %}
