{% extends 'layout.html.twig' %}
{% block content %}
    <header>

    </header>

    <main class="user_page">
        <p>Profile ...</p>
        <p>Hi <b>{{ user.username }}</b>, Vous êtes inscrit depuis le <i>{{ user.date | date("d/M/Y") }}</i></p>
         <div>
             <p>Ajouter un fichier</p>
             <form action="?action=profile" enctype="multipart/form-data" method="post">
                <input type="file" name="addFile">
                <input type="submit" name="submitAddFile" value="Ajouter">
             </form>
         </div>
    </main>

{% endblock %}

