.none{
    display: none;
}

/* Modal Content */
.modal {
    position: absolute;
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.modal-content{
    width: 50%;
    height: 50%;
    background-color: rgba(0,0,0,0.5); /* Black w/ opacity */
    margin: auto;
}
.modal-content form{
    width: 50%;
    height: 50%;
    margin: auto;
}
textarea{
    margin-top: 20%;
    width: 100%;
    min-height: 100px;
}
.close{
    float: right;
}